@model MvcApplication2.Models.KeywordModel
<script>
    $(document).ready(function () {
        $("#rm").click(function () {
            $("div.UserManagement").hide();
            $("div.ViewHistory").hide();
            $("div.FieldManagement").show();
        });
        $("#um").click(function () {
            $("div.ViewHistory").hide();
            $("div.FieldManagement").hide();
            $("div.UserManagement").show();
        });
        $("#vh").click(function () {
            $("div.UserManagement").hide();
            $("div.FieldManagement").hide();
            $("div.ViewHistory").show();
        });
    });
</script>
<div class="content-wrapper">
    <div class="float-left">
        <nav>
            <ul id="menu">
                <li id="rm"><a href="#">Request Management</a></li>
                <li id="um"><a href="#">User Management</a></li>
               
                <li id="vh"><a href="#">View History</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="FieldManagement">
    <br />
    <br />
    <hr />
    <form style="position:relative; top:30px;">
        @*<font size="5em"><u>Field</u></font>*@
        <select name="field">
            <option value="geographic region" selected>Geographic Region</option>
            <option value="caller type">Caller Type</option>
            <option value="gender">Gender</option>
            <option value="tumour group">Tumour Group</option>
            <option value="question type">Question Type</option>
        </select><br />
        <input name="new_field_item" type="text" />
        <input name="add_field_item" type="button" value="add" /><br /><br />
        <select name="activated_field_item" size="6">
            <option value="geographic region" selected>Geographic Region</option>
            <option value="caller type">Caller Type</option>
            <option value="gender">Gender</option>
            <option value="tumour group">Tumour Group</option>
            <option value="question type">Question Type</option>
        </select>
        <div style="position:relative; top:-120px; left:175px;"><input name="active_field_item" type="button" value="Activate" /></div>
        <div style="position:relative; top:-120px; left:170px;"><input name="deactive_field_item" type="button" value="De-activate"  /></div>
        <div style="position:relative; top:-215px; left:310px;"><select name="deactivated_field_item" size="6">
            <option value="...">saliman ooo</option>
        </select>
        </div>
    </form>
    <form style="position:relative; top:-70px;">

        @*<font size="5em"><u>Request</u></font><br />*@
        <input name="request" type="text" />
        <input name="search_request" type="button" value="search" /><br /><br />
        <select name="activated_request" size="6">
            <option value="geographic region" selected>Geographic Region</option>
            <option value="caller type">Caller Type</option>
            <option value="gender">Gender</option>
            <option value="tumour group">Tumour Group</option>
            <option value="question type">Question Type</option>
        </select>
        <div style="position:relative; top:-120px; left:175px;"><input name="active_request" type="button" value="Activate" /></div>
        <div style="position:relative; top:-120px; left:170px;"><input name="deactive_request" type="button" value="De-activate"  /></div>
        <div style="position:relative; top:-215px; left:310px;"><select name="deactivated_request" size="6">
            <option value="...">saliman ooo</option>
        </select>
        </div>
    </form>
    <form style="position:absolute; left:500px; top:165px;">
        
        <input name="key_word" type="text" />
        <input name="search_key_word" type="button" value="search" /><br /><br />
        <select name="activated_key_word" size="6">
            <option value="geographic region" selected>Geographic Region</option>
            <option value="caller type">Caller Type</option>
            <option value="gender">Gender</option>
            <option value="tumour group">Tumour Group</option>
            <option value="question type">Question Type</option>
        </select>
        <div style="position:relative; top:-120px; left:175px;"><input name="active_key_word" type="button" value="Activate" /></div>
        <div style="position:relative; top:-120px; left:170px;"><input name="deactive_key_word" type="button" value="De-activate"  /></div>
        <div style="position:relative; top:-215px; left:310px;"><select name="deactivated_key_word" size="6">
            <option value="...">saliman ooo</option>
        </select>
        </div>
    </form>
</div>
<div class="UserManagement" hidden>
    <br />
    <br />
    <hr />
    <label>User ID </label>
    <form >
        <select name="user">
            <option value="new user" selected>New User</option>
        </select><br />
    </form>   
    <section>
        @*@Html.Partial("_Admin_UM")*@
    </section>
</div>
<div class="ViewHistory" hidden>
    <br />
    <br />
    <hr />
    <form>
        <input type="text" name="history_search_box" />&nbsp;
        <input type="button" name="history_search_button" value="View"/>
        <input type="button" name="export" value="Export" style="position:relative; left:25px;" />
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
