@model IEnumerable<MvcApplication2.Models.Request>
@{
    
}

<h2>Request Management</h2>

<div id="request_management" style="position:relative;">
    @using (Html.BeginForm())
    {    
         <p> Request: @Html.TextBox("key") &nbsp;  
         <input type="submit" value="Filter" /></p> 
    } 
    <div style="height: 400px; overflow-y:scroll;">
    <table style="border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
        width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;">
           <tr>
               <th style="font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;">Request ID</th>
               <th style="font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;">Active</th>
           </tr>
        
   @foreach (var item in Model)
   {
       
           <tr>
            <td style="line-height: 20px;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;">@Html.DisplayFor(modelItem => item.RequestId)</td>
            <td style="line-height: 20px;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;">@Html.DisplayFor(modelItem => item.IsActive)</td>
            <td style="line-height: 20px;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;">@*@foreach(var q in item.Questions){
                                  foreach (var k in q.Keywords)
                                  {
                                      Html.DisplayFor(key => k.Keyword);
                                  }
                              }*@
            </td>
            <td style="line-height: 20px;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;">@Html.ActionLink("Edit", "EditRequest", new { id = item.RequestId })</td>
           </tr>
       
   }
        </table>
        </div>
        </div>